{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block rowwrapper %}pure-u-1 pure-u-md-1-2{% endblock %}
{% block content %}
    <form method="POST" action="{% url 'account_change_password' %}" class="pure-form pure-form-stacked password_change">
        <fieldset>
            <legend>Change Password</legend>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="pure-button pure-button-primary" name="action">{% trans "Change Password" %}</button>
        </fieldset>
    </form>
{% endblock %}
