{% extends "layout.html" %}

{% load crispy_forms_tags %}
{% block rowwrapper %}pure-u-1 pure-u-md-1-2 center{% endblock %}
{% block content %}
<p>Hi {{ user  }}!<br />Your publicly displayed name is <span class="backed">{{ user.name }}</span>.</p>

{% crispy form %}
<br />
<a href="{% url "account_change_password" %}" class="pure-button" title="I want to change my password">I want to change my password</a>
<br />
<br />
<a href="{% url "account_email" %}" class="pure-button" title="I want to manage my account email">I want to manage my account email addresses</a>
{% endblock %}
