table#project-list-table {
    width: 100%;

    td {
        vertical-align: top;

        &.project-name {
            max-width: 30em;
            word-wrap: break-word;
        }

        &.actions {
            a {
                text-decoration: none;
                color: #000;
                margin-right: 0.5em;
            }
        }
    }

    ul.tags {
        list-style-type: none;
        padding: 0;
        li {
            float: left;
            margin-right: 0.5em;
            font-size: 0.9em;
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
