#messages {
    text-align: center;
    color: #fff;
}

.message {
    padding: 0.5em;
    background: #333;
    border-bottom: 1px solid #eee;
    &.success {
        background: $emerald;
    }
    &.error {
        background: $alizarin;
    }
}
