{% extends "layout.html" %}
{% load icons %}
{% block altcontent %}
<div class="pure-g">
    <div class="pure-u-1">
        {% if user.is_authenticated %}
        <a href="{% url "projects:create" %}" title="Submit a project for tracking." class="pure-button pure-button-primary">Submit a project for tracking</a>
        {% endif %}
        <span class="view-options">
            <a class="pure-button {{ show_as_table|yesno:"pure-button-primary,pure-button-active" }}" href="?format=" title="Cards view">{% icon "zmdi zmdi-view-dashboard zmdi-fw" %} Cards</a>
            <a class="pure-button {{ show_as_table|yesno:"pure-button-active,pure-button-primary" }}" href="?format=table" title="Table view">{% icon "zmdi zmdi-border-all zmdi-fw" %} Table</a>
        </span>
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        {% if show_as_table %}
            {% include "projects/_project_list_table.html" with projects=projects %}
        {% else %}
            {% include "projects/_project_list_cards.html" with projects=projects %}
        {% endif %}
    </div>
</div>
{% endblock %}
