{% extends "layout.html" %}
{% load url_extras %}

{% block altcontent %}
<div class="pure-g">
    <div class="pure-u-1">
        {% if user.is_authenticated %}
        <a href="{% url "projects:create" %}" title="Submit a project for tracking." class="pure-button pure-button-primary">Submit a project for tracking</a>
        {% endif %}
    </div>
</div>
<div class="pure-g">
    <div class="pure-u-1">
        <table id="projects" class="center pure-table pure-table-horizontal">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Homepage</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for project in projects %}
                <tr>
                    <td><a class="project-name" href="{{ project.get_absolute_url }}" title="{{ project }}">{{ project }}</a></td>
                    <td>{% if project.homepage %}<a href="{{ project.homepage }}" title="{{ project }} homepage" target="_blank">{{ project.homepage|netloc }}</a>{% endif %}</td>
                    <td>
                        {% for tag in project.tags.all %}
                        <a class="project-tag" href="{% url "projects:list-by-tag" tag.slug %}" title="Projects tagged {{ tag.name }}">{{ tag.name }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if not project.verified_date %}
                            Awaiting verification&hellip;
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
