{% extends "layout.html" %}

{% load url_extras %}
{% block content %}
{% include "projects/_project_toolbar.html" with project=project can_edit=can_edit %}
<h2 class="project-name">
    <a class="local" href="{{ project.get_absolute_url }}" title="{{ project.name }}">{{ project.name }}</a>
</h2>

{% if not project.verified_date %}
<div class="project-verification">
    <p><b>This project is awaiting verification.</b> A member of our staff has not yet approved this project for public listing. The information on this page may be wrong.</p>
</div>
{% endif %}

{% with n=project.reports.count %}
<p class="project-reports">{{ n }} report{{ n|pluralize:" has,s have" }} been filed on this project entry.</p>
{% if n %}
    {% if reports %}
        <p>You are seeing these reports because you are a moderator or you filed the reports.</p>
        <table class="pure-table report-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports.all %}
                    {% include "reports/_report_row.html" with report=report %}</li>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}
{% endwith %}
{% endblock %}
