{% extends "layout.html" %}

{% block outsidewrapper %}
{% if not project.verified_date %}
    <div class="project-verification">
    <p><b>This project is awaiting verification.</b> A member of our staff has not yet approved this project for public listing. The information on this page may be wrong.</p>
    {% if user.is_authenticated %}
        <p>
        {% include "projects/_report_url.html" with project=project %}
        {% if user.is_moderator %}
            <a href="{% url "projects:verify" project.pk %}" title="Verify Project" class="pure-button pure-button-primary">Verify this project</a>
        {% endif %}
        </p>
        <p class="project-reports">{{ report_text }}</p>
    {% endif %}
</div>
{% endif %}
{% endblock %}

{% block content %}
<h3 class="project-name"><a href="{{ project.get_absolute_url }}" title="{{ project.name }}">{{ project.name }}</a></h3>

{% include "projects/_project_toolbar.html" with project=project can_edit=can_edit %}

<p class="project-reports">{{ report_text }}</p>
{% if reports.count %}
    <p>You are seeing these reports because you are a moderator or you filed the reports.</p>
    <table class="pure-table report-table">
        <thead>
            <tr>
                <th></th>
                <th>Date</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for report in project.reports.all %}
                {% include "reports/_report_row.html" with report=report %}</li>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if user.is_authenticated %}
<p>{% include "projects/_report_url.html" with project=project %}</p>
{% endif %}
{% endblock %}
