<div class="pure-g" id="header">
    <div class="pure-u-1">
        <header>
            <h2><a href="/" title="a software community tracker">a software community tracker</a></h2>
            {% if user.is_authenticated %}
            <a href="{% url "profiles:detail" %}" title="Profile" class="pure-button">Profile</a>&nbsp;
            <a href="{% url "logout" %}?next=/" title="Logout" class="pure-button">Logout</a>
            {% else %}
            <a href="{% url "profiles:register" %}" title="Register" class="pure-button">Register</a>&nbsp;
            <a href="{% url "login" %}?next={% url "profiles:detail" %}" title="Login" class="pure-button">Login</a>
            {% endif %}
        </header>
    </div>
</div>
