<div class="pure-menu pure-menu-horizontal" id="header">
    <h2 class="pure-menu-heading"><a class="pure-menu-heading" href="/" title="a software community tracker">a software community tracker</a></h2>
    <ul class="pure-menu-list">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                {% include "profiles/admin_menu.html" %}
            {% endif %}
            {% include "profiles/logged_in_menu.html" %}
        {% else %}
            {% include "profiles/logged_out_menu.html" %}
        {% endif %}
    </ul>
    <div style="clear: both;"></div>
</div>
<div class="pure-g" id="messages">
    <div class="pure-u-1">
        <header>
            {% if messages %}
            {% for message in messages %}
            <div class="message {{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
        </header>
    </div>
</div>
