<form method="POST" action="{% url "login" %}" class="pure-form pure-form-stacked">
    {% csrf_token %}
    <fieldset>
        <legend>Login</legend>

        {{ form.as_p }}

        <div class="pure-controls">
            <input type="submit" class="pure-button pure-button-primary" value="Login" />
        </div>
        <input type="hidden" name="next" value="{{ next }}" />

        <br />
        <a href="{% url "password_reset" %}" title="I forgot my password and want to reset it via email.">I forgot my password and want to reset it via email.</a>
    </fieldset>
</form>
