{% extends "layout.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
{% if validlink %}
    <form method="POST" action="" class="pure-form pure-form-stacked">
        {% csrf_token %}
        <fieldset>
            <legend>Reset Password</legend>

            {{ form.as_p }}

            <div class="pure-controls">
                <input type="submit" class="pure-button pure-button-primary" value="Reset Password" />
            </div>
        </fieldset>
    </form>
{% else %}
<p>The password reset link is invalid.</p>
{% endif %}
{% endblock %}
