{% extends "layout.html" %}

{% block content %}
<div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-2"><div class="box">
        <form action="" method="POST" class="pure-form pure-form-stacked">
            {% csrf_token %}

            <legend>Register</legend>

            {{ form.as_p }}

            <input type="submit" class="pure-button pure-button-primary" value="Register" />
        </form>
    </div></div>
    <div class="pure-u-1 pure-u-md-1-2"><div class="box">
        <p>Your <b>email address will never be shown to the public</b>. Only your profile name will be displayed. If left blank, you will be displayed as Anonymous.</p>
        <p>
        Registering allows you to:
        <ul>
            <li>vouch for a project&rsquo;s community</li>
            <li>submit projects</li>
            <li>comment on projects</li>
            <li>add relevant project links such as diversity statements and examples of problematic conduct</li>
        </ul>
        <p>
        <b>Email Policy:</b><br />
        The following are the only times you will ever receive automated mail from us:
        <ul>
            <li>Email confirmation link on registration.</li>
            <li>Password reset links.</li>
        </ul>
        </p>
    </div></div>
</div>
{% endblock %}
