{% extends "layout.html" %}

{% block head %}{% include "recaptcha/js.html" %}{% endblock %}

{% block content %}
<form action="" method="POST" class="pure-form pure-form-stacked">
    {% csrf_token %}

    <legend>Register</legend>

    <p>Registering allows you to contribute to tracking projects.</p>
    <p>Your email address will never be shown to the public. Only your profile name will be displayed. If left blank, you will be displayed as Anonymous.</p>

    {{ form.as_p }}

    <div class="pure-controls">
        {% include "recaptcha/widget.html" with recaptcha=recaptcha %}
        <input type="submit" class="pure-button pure-button-primary" value="Register" />
    </div>
</form>
{% endblock %}
