/* Courtesy of http://codepen.io/ControlledChaos/pen/MYorWd */
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;

$bg: $midnight-blue;
$accent: $concrete;

$font-stack: 'Open Sans', sans-serif;

.pure-g [class *="pure-u"] {
    font-family: $font-stack;
}

// Large components of the project
@import "components/header";

// UI Objects
@import "ui/buttons";
@import "ui/messages";
@import "ui/forms";

.icon {
    width: 1em;
    height: 1em;
}

.center {
    margin: 0 auto;
}

table {
    font-size: 1.1em;
}

.backed {
    background: $bg;
    color: #fff;
    font-weight: 300;
    padding: 0.05em 0.4em;

    a {
        text-decoration: none;
        color: #fff;
    }

    &.comfy {
        padding: 0.2em 0.6em;
        font-size: 1.2em;
    }

    &.form-message {
        max-width: 25em;
        padding: 1em;
        font-size: 0.9em;
    }
}

.project {
    margin: 1em;
}

#projects {
    a {
        text-decoration: none;
        color: #000;
    }

    $tag-base: #ccc;
    .project-tag {
        text-decoration: none;
        background: $tag-base;
        font-size: 0.9em;
        letter-spacing: 0.03em;
        font-weight: 300;
        padding: 0.2em 0.6em;
        border-radius: 0.2em;
        &:hover {
            background: darken($tag-base, 10%);
        }
    }
}

p {
    line-height: 1.5em;
}

.content-wrapper {
    .pure-g {
        padding: 0.5em 2em;

        form {
            input[type="text"], input[type="email"], input[type="password"], input[type="url"] {
                width: 80%;
            }

            input[type="submit"] {
            }
        }

        .box {
            margin: 0 1em;
        }
    }
}

.project-verification {
    max-width: 30em;
    padding: 0.5em 1em;
}

.project-name {
    margin: 0;
    a {
        text-decoration: none;
        color: #000;
        font-weight: 300;
        font-size: 1.25em;
    }
}

.project-toolbar {
    list-style-type: none;
    line-height: 2.5em;
    padding: 0;
    margin: 0;
    li { float: left; margin-right: 0.5em; }

    a {
        border-radius: 0.2em;
        color: #fff;
        text-decoration: none;
        padding: 0.3em 0.6em 0.3em 0.3em;
        font-weight: 300;
        &.delete {
            background-color: $alizarin;
            &:hover {
                background-color: darken($alizarin, 10%);
            }
        }
    }
}

div.project-toolbar {
    margin: 0 0 0.5em 0;
    padding: 0;
}

#project-tags {
    list-style-type: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    li {
        float: left;
        margin-right: 1em;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}

.project-report {
    border-bottom: 1px solid $accent;
    margin-bottom: 1em;
    .report-visibility {
        font-size: 0.8em;
        font-style: italic;
    }
    .date {
        font-style: italic;
        font-size: 0.9em;
    }
}
