/* Courtesy of http://codepen.io/ControlledChaos/pen/MYorWd */
$turquoise: #1abc9c;
$green-sea: #16a085;
$emerald: #2ecc71;
$nephritis: #27ae60;
$peter-river: #3498db;
$belize-hole: #2980b9;
$amethyst: #9b59b6;
$wisteria: #8e44ad;
$wet-asphalt: #34495e;
$midnight-blue: #2c3e50;
$sunflower: #f1c40f;
$orange: #f39c12;
$carrot: #e67e22;
$pumpkin: #d35400;
$alizarin: #e74c3c;
$pomegranate: #c0392b;
$clouds: #ecf0f1;
$silver: #bdc3c7;
$concrete: #95a5a6;
$asbestos: #7f8c8d;
$black: #333;

$bg: $midnight-blue;
$accent: $concrete;
$error: $alizarin;

$font-stack: 'Open Sans', sans-serif;

.pure-g [class *="pure-u"] {
    font-family: $font-stack;
}

// Large components of the project
@import "components/header";
@import "components/project-card.scss";
@import "components/project-table.scss";
@import "components/project-list.scss";
@import "components/projects/components/project-details";
@import "components/projects/components/project-report";
@import "components/projects/components/project-toolbar";

// UI Objects
@import "ui/buttons";
@import "ui/messages";
@import "ui/forms";
@import "ui/backed";

body {
    background: #eee;
}

.icon {
    width: 1em;
    height: 1em;
}

.center {
    margin: 0 auto;
}

p {
    line-height: 1.5em;
}

.clear {
    clear: both;
}


.content-wrapper .pure-g {
    padding: 0.5em 2em;
}

// This class name is a bit too generic and meaningless and can
// probably be refactored
.box {
    margin: 0 1em;
}
